rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && (request.auth.uid == userId || request.auth.token.email == 'krishanumajeeff@gmail.com');
      
      match /{document=**} {
        allow read, write: if request.auth != null && (request.auth.uid == userId || request.auth.token.email == 'krishanumajeeff@gmail.com');
      }
    }
    
    match /logins/{loginId} {
      allow read: if request.auth != null && (resource == null || resource.data.uid == request.auth.uid || request.auth.token.email == 'krishanumajeeff@gmail.com');
      allow create, update: if request.auth != null && (request.resource.data.uid == request.auth.uid || request.auth.token.email == 'krishanumajeeff@gmail.com');
    }
  }
}
